/*---------------Reset---------------*/

*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to right, #448, #4488f6);
}



/*--------------layout-----------------*/

/*header*/

#header{
    
    z-index:999;
    position:fixed;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    background: linear-gradient(to top, #226, #559);
    color: white;
}

#logo{
    width:300px;
    margin: 2%;
}


/*navbar*/

nav {
    display:flex;
    justify-content:center;
    align-items: center;
}
nav ul{
    display:flex;
    justify-content:space-evenly;
    margin: 5px 0px 5px 0px;
    padding-left:0px;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    padding:10px;
    margin-bottom:5px;
    text-align: center;
}

nav ul li:nth-child(n+2){
    border-left: 2px solid #aaa;
}

nav ul li a{
    font-size:22px;
    font-weight: bold;
    color: white;
    text-decoration: none;

}



/*----------------- pages----------------*/

main{
    padding-top:5%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

.section0{
    height:15vh;
    }

h2{
    padding: 1% 0 1% 0;
    margin-bottom:2%;
    background-color:#2262;
    text-align: center;
    color:#dff;
    font-family: monospace;
    font-size: 32px;
}


/*index*/

.section1{
    margin-top:2%;
}

.info{
    color:white;
    text-align: center;
}

#image-block1{
    margin:2% 10% 0% 10%;
    width:80%;
    display:grid;
    grid-gap: 15px;
    grid-template-areas: 
    "texto1 imagen2 imagen2"
    "texto1 imagen2 imagen2"
    "imagen3 imagen3 imagen5"
    "imagen3 imagen3 texto2"
    "imagen6 imagen4 imagen4"
    "texto3 imagen4 imagen4"
    ;
}
.textAlone{
    padding: 20% 10% 10% 10%;
    text-align:center;
    font-size:26px;
    font-style:italic;
}
.cont-text1{
    grid-area: texto1;
    border-radius: 5%;
    border: 10px solid #fca4;
    background-color: #fff6;}

.cont-text2{
    grid-area: texto2;
    border-radius: 5%;
    border: 10px solid #2cc6;
    background-color: #6dd6;
}

.cont-text3{
    grid-area: texto3;
    border-radius: 5%;
    border: 10px solid #fca4;
    background-color: #fff6;;
}

.cont-image1{
    grid-area: imagen1;
}

.image1{
    width:100%;
    height:100%;
    object-fit:cover; 
}

.cont-image2{
    grid-area: imagen2;
}

.image2{
    width:100%;
    height:100%;
    object-fit:cover;
}

.cont-image3{
    grid-area: imagen3;
}

.image3{
    width:100%;
    height:100%;
    object-fit:cover;
}

.cont-image4{
    grid-area: imagen4;
}

.image4{
    width:100%;
    height:100%;
    object-fit:cover;
}

.cont-image5{
    grid-area: imagen5;
}
.image5{
    width:100%;
    height:100%;
    object-fit:cover;
}

.cont-image6{
    grid-area: imagen6;
}

.image6{
    width:100%;
    height:100%;
    object-fit:cover;
}

.section2{
    height: 25vh;
    width: 100vw;
}


/*contactos*/

form{
    color:white;
    height:60%;
    margin: 2%;

}

fieldset{
    padding:10px;
    background-color:#2262;
}

.mapouter{
    margin: 20px;
}

#section-contact{
    height: 75vh;
    width: 100vw;
}


/*nosotros*/

#img_equipo{
    padding: 2% 0 2% 0;
    width: 70%;
    margin:auto;
}

.art{
    background-color: #fff2;
    padding:20px;
    margin-left:10%;
    text-align: justify;
    width:80%;
    font-size:20px;
    color:black;
}

#section-us{
    height: 50vh;
}


/*sevicios*/

#div-services{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.block-services{
    padding:2%;
    width: 40vw;
}

.services{
    
    width:100%;
    height:100%;
    object-fit: cover;
}


/*preguntas*/

#section-ask{
    height:100vh;
}

/* ------------bootstrap-carousel---------- */

#siguiente{
    background-color: #0062;
}

#anterior{
    background-color: #0062;

}


/*--------------footer----------------*/

footer{
    text-align: center;
    padding: 10px;
    margin-bottom:0px;
    background-color: #226;
    color:white;
}


/*----------media-querys-------------*/

@media screen and (max-width: 992px){

    nav ul li{
        padding:0px 5px  0px 5px;
    }

    nav ul li a{
        font-size:20px;
    }

    .section0{
        height:22vh;
    }

    #header{
        flex-direction: column;
    }

    #logo{
    width:250px;
    }
    .textAlone{
        padding: 10% 10% 10% 10%;
    }
    #image-block1{
        /* margin:5% 10% 5% 10%; */
        grid-template-areas: 
        "imagen2 imagen2"
        "texto1 texto1"
        "imagen3 imagen3" 
        "texto2 texto2"
        "imagen4 imagen4"
        "texto3 texto3"
        "imagen5 imagen6"
        ;
    }
}


@media screen and (max-width: 768px){

    nav ul li{
        padding:0px 5px 0px 5px; 
    }
    nav ul li a{
        font-size:18px;
    }
    
    .text1{
        font-size:22px;
    }

    .text2{
        font-size:22px;
    }
}

@media screen and (max-width: 576px){
    .textAlone{
        padding: 5% 5% 5% 5%;
    }

    nav ul{
        flex-wrap:wrap;
    }
    .text1{
        font-size:18px;
    }

    .text2{
        font-size:18px;
    }
    
}

@media screen and (max-width: 492px){
    
    nav ul li a{
        font-size:16px;
    }

    .text1{
        font-size:16px;
    }

    .text2{
        font-size:16px;
    }
}

@media screen and (max-width: 388px){

    nav ul li:nth-child(n+2){
        border-left: 0px solid #aaa;
    }

    nav ul li a{
        font-size:14px;
    }
    
}