

@media screen and (max-width: 992px){

    nav ul li{
        padding:0px 5px  0px 5px;
    }

    nav ul li a{
        font-size:20px;
    }

    .section0{
        height:22vh;
    }

    #header{
        flex-direction: column;
    }

    #logo{
    width:250px;
    }
    .textAlone{
        padding: 10% 10% 6% 10%;
    }

    #hero {
        height: 200px;
        h1{
            font-size: 40px;
        }
    }

    .seccion-carrusel{
        margin-top:0%;
    }

    #image-block1{
        grid-template-areas: 
        "imagen2 imagen2"
        "texto1 texto1"
        "imagen3 imagen3" 
        "texto2 texto2"
        "imagen4 imagen4"
        "texto3 texto3";
    }

    .art{
        padding:10px;
        font-size:14px;
        border: 6px solid #2176;
 
    }

    .block-services{
        width: 80vw;
        padding-bottom:18%;
    }
    .plus-bottom{
        padding-bottom: 24%;
    }

    .infoDirection{
        text-align: center;
    }
    #section-ask{
        margin-bottom: 10%;
    }
    .blockQuest{
        p{
        font-size: 0.8rem;}
    }

    .whatsapp-logo{
        img{
        width:12vw;
        }
    }

    .sectionFoot{
        margin:3% 0% 0% 0;
    }
}


@media screen and (max-width: 768px){

    nav ul li{
        padding:0px 5px 0px 5px; 
    }
    nav ul li a{
        font-size:18px;
    }
    .textAlone{
        font-size:22px;
    }
}

@media screen and (max-width: 576px){
    .textAlone{
        padding: 5% 5% 3% 5%;
        font-size:18px;
    }

    nav ul{
        flex-wrap:wrap;
    }
    
    
}

@media screen and (max-width: 492px){
    
    nav ul li a{
        font-size:14px;
    }

    .textAlone{
        font-size:18px;
    }
}

@media screen and (max-width: 388px){

    nav ul li:nth-child(n+2){
        border-left: 0px solid #aaa;
    }

    nav ul li a{
        font-size:14px;
    }
    
}