form{
    color:white;
    height:60%;
    margin: 2%;

}

fieldset{
    padding:10px;
    background-color:#2262;
}

.mapouter{
    display: flex;
    justify-content: center;
}

#section-contact{
    height: 75vh;
    width: 100vw;
}
