main{
    padding-top:5%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

.section0{
    height:15vh;
    }


h2{
    padding: 1% 0 1% 0;
    margin-bottom:4%;
    background-color:#fff1;
    text-align: center;
    color:#dff;
    font-family: 'Alkatra',  sans-serif;
    font-size: 32px;
}

.hideOverflow{
    overflow-x: hidden;
    overflow-y: hidden;
}

.shadowblock{
    box-shadow: 5px 5px 30px 5px #0006;
}
.shadow-icon{
    background-color: #0002;
}

/*Only-index-home*/

.seccion-carrusel{
    margin-top:3%;
}

.section1{
    margin-top:2%;
    margin-bottom:7%;
}

.info{
    color:white;
    text-align: center;
}

.button-info{
    padding: 2%;
    border-radius: 25px;
    margin: auto;
    margin-top: 0%;
    margin-bottom:4%;
    border: none;
    background-color: #44d ;
    color:#fff;
    font-weight: bold;
    box-shadow: 0px 2px 5px 2px #0008;

    &:active{
        color:#ccc;
        background-color: #22a;
    }
}

#image-block1{
    margin:2% 10% 0% 10%;
    width:80%;
    display:grid;
    grid-gap: 15px;
    grid-template-areas: 
    "texto1 imagen2 imagen2"
    "texto1 imagen2 imagen2"
    "imagen3 imagen3 texto2"
    "imagen3 imagen3 texto2"
    "texto3 imagen4 imagen4"
    "texto3 imagen4 imagen4"
    ;
}
.textAlone{
    padding: 10% 10% 10% 10%;
    text-align:center;
    font-size:26px;
    font-style:italic;
}
.common-text{
    display:flex;
    flex-direction: column;
    border-radius: 5%;
}
.cont-text1{
    grid-area: texto1;
    border: 10px solid #fca4;
    background-color: #fff6;
}

.cont-text2{
    grid-area: texto2;
    border: 10px solid #3cc4;
    background-color: #65d5d540;
}

.cont-text3{
    grid-area: texto3;
    border: 10px solid #fca4;
    background-color: #fff6;;
}

.cont-image1{
    grid-area: imagen1;
}

.image1{
    width:100%;
    height:100%;
    object-fit:cover; 
}

.cont-image2{
    grid-area: imagen2;
}

.image2{
    width:100%;
    height:100%;
    object-fit:cover;
}

.cont-image3{
    grid-area: imagen3;
}

.image3{
    width:100%;
    height:100%;
    object-fit:cover;
}

.cont-image4{
    grid-area: imagen4;
}

.image4{
    width:100%;
    height:100%;
    object-fit:cover;
}

.cont-image5{
    grid-area: imagen5;
}
.image5{
    width:100%;
    height:100%;
    object-fit:cover;
}

.cont-image6{
    grid-area: imagen6;
}

.image6{
    width:100%;
    height:100%;
    object-fit:cover;
}

.section2{
    height: 25vh;
    width: 100vw;
}

#hero {
    position: relative;
    height: 400px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0% 0% 5% 0%;
    img{
        opacity:0.3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1{
        font-family: 'Alkatra', Tahoma, sans-serif ;
        color:#dff;
        font-weight: bold;
        font-size: 60px;
    }
  }