#img_equipo{
    width: 70%;
    margin:auto;
}

.art{
    background-color: #5389;
    padding:20px;
    margin-left:10%;
    text-align: justify;
    width:80%;
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-right: 10px solid #427;
    border-bottom: 10px solid #315;
    border-left: 10px solid #427;
    border-top: 10px solid #649;
    color:#dff;
    border-radius: 20px;
}

