#img_equipo{
    width: 70%;
    margin:auto;
}

.art{
    background-color: #fff2;
    padding:20px;
    margin-left:10%;
    text-align: justify;
    width:80%;
    font-size:20px;
    color:black;
}

